body {
    font-size: 16px;
}

div {
    display: block;
}
.container {
    width: 1024px;
    padding: 0;
}


section {
    margin: 47px 0px;
}
.section {
    margin: 47px auto;
    width: 50%;
}

.info .section {
    width: 456px;
}

.info .section + .section {
    margin-left: 24px;
}

.info {
    display: flex;
    margin: auto;
    width: 940px;
}

.section p {
    margin: 15px 0px 0px;
    color: #060113;
    font-size: 16px;
    font-weight:700;
    line-height: 24px;
}

h1 {
    font-weight: 600;
}

.section > h1 {
    font-size: 2em;
}

div ._1A_1{
    width: 420px;
    border-left: 1px solid pink;
    border-right: 1px solid pink;
    font-size: 18px;
    margin: auto;
    padding: 13px;
    
}

._1A_1 > span:first-child {
    font-size: 17px;
    color: blue;
    font-weight: 600;
}
._1A_1 > span:last-child {
    font-size: 17px;
    font-weight: 600;
    padding-left: 8px;
}
._2A_h {
    margin-bottom: 20px;
}
.s_header {
    margin-bottom: 24px;
}

.s_content {
    margin-top: 60px;
}

.s_content > div {
    width: 256px;
    display: block;
    float: left;
    height: 400px;
    margin: auto;
    text-align: center;
    
}

.header {
    font-size: 28px;
    font-weight: 600;
}